body {
    font-family: Arial, sans-serif;
    background: #111;
    padding: 20px;
    color: white;
}

h1 {
    text-align: center;
}

.input-area {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 17px;
    border-radius: 8px;
    border: none;
    outline: none;
}

button {
    padding: 10px 20px;
    font-size: 17px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.todo-item {
    padding: 12px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn {
    background: black;
    color: white;
    padding: 6px 12px;
    border-radius: 6px;
    cursor: pointer;
}
